In [1]:
import pandas as pd

In [7]:
df=pd.read_csv(r"C:\Users\diyag\OneDrive\Desktop\python_practice\Data Science\pandas\data14.csv - data14.csv")
print("type(df)-->",type(df))
df.head(50)

type(df)--> <class 'pandas.core.frame.DataFrame'>

            id  F1     F2   F3    F4  F5       F6   F7
0   4519157822   0   28.0  NaN  11.0   0  17210.0  6.6
1   4523371949   0   12.0  NaN   5.0   0  14712.0  6.6
2   4521474530   0   15.0  0.0   NaN   1  16113.0  6.4
3   4524384067   0   43.0  0.0   NaN   1  15157.0  7.0
4   4436033771   0   75.0  0.0   6.0   0  16400.0  7.0
5   4475365709   1   18.0  0.0   6.0   1  15899.0  7.0
6   4493010632   1   18.0  1.0   7.0   1  16874.0  6.8
7   4496759358   0   16.0  0.0   3.0   0  15305.0  6.4
8   4443048030   0   16.0  0.0   8.0   0  16401.0  7.2
9   4509433346   1   13.0  1.0   5.0   1      NaN  6.8
10  4452162573   0   20.0  1.0   6.0   0      NaN  6.6
11  4453038156   0   33.0  1.0   7.0   1      NaN  7.0
12  4515594785   1   18.0  1.0  11.0   1      NaN  7.4
13  4524924257   0   14.0  0.0   1.0   1      NaN  6.6
14  4516505202   1   15.0  1.0   4.0   0      NaN  6.8
15  4482120064   0   17.0  0.0   3.0   0      NaN  6.8
16  4523758462   1   14.0  1.0   8.0   0      NaN  7.6
17  4503636905   0   43.0  0.0   3.0   1  14852.0  6.8
18  4486384947   1   21.0  1.0  11.0   0  16282.0  6.8
19  4457103291   0   11.0  0.0   5.0   0  14994.0  7.0
20  4472164226   1   14.0  NaN  15.0   1  18606.0  7.2
21  4445294621   0   13.0  NaN   5.0   0  15878.0  6.8
22  4480384157   0   17.0  NaN   3.0   0  15773.0  7.0
23  4520898233   0   78.0  NaN   4.0   2  15906.0  6.8
24  4522124566   1   33.0  NaN  10.0   0  16515.0  6.8
25  4523978853   0   17.0  NaN   4.0   0  15415.0  6.2
26  4507834811   1   18.0  NaN   9.0   1  17178.0  7.0
27  4501319968   0   19.0  NaN   9.0   0  17226.0  7.0
28  4519148589   0  105.0  1.0  13.0   1  17474.0  6.8
29  4484877784   0   18.0  0.0   2.0   1  14905.0  6.8
30  4466931235   1   22.0  1.0  10.0   1  18132.0  7.0
31  4524189570   1   17.0  1.0   6.0   2  16053.0  6.8
32  4503380070   0   12.0  0.0   7.0   0  16438.0  6.8
33  4497858921   0   15.0  1.0   4.0   0  15634.0  6.8
34  4509242024   1   40.0  0.0   4.0   0  16085.0  7.4
35  4524296550   0   24.0  0.0   6.0   0  14981.0  6.8
36  4516034199   0   12.0  0.0   2.0   1  15421.0  7.2
37  4504386463   0   20.0  1.0   4.0   1  15665.0  6.8
38  4523799496   0   11.0  0.0   5.0   1  17528.0  7.2
39  4379931850   0   18.0  0.0   3.0   1  15032.0  6.6
40  4523858150   0   28.0  0.0   3.0   0  15483.0  6.8
41  4459778854   1   36.0  0.0  12.0   0  19226.0  7.4
42  4499523222   1   18.0  0.0  14.0   1  16945.0  6.8
43  4477029310   1   12.0  1.0   3.0   0  15000.0  6.6
44  4525037711   0   18.0  1.0   2.0   1  15888.0  7.4
45  4459414345   0   41.0  0.0   0.0   0  12925.0  6.4
46  4505664040   1   14.0  1.0   9.0   0  19250.0  7.6
47  4439587692   1   19.0  1.0   5.0   1  18355.0  7.0
48  4508000311   1   15.0  0.0   2.0   1  13978.0  6.6
49  4513365614   0   16.0  0.0   8.0   0  15851.0  6.8

In [8]:
df.dtypes

id      int64
F1      int64
F2    float64
F3    float64
F4    float64
F5      int64
F6    float64
F7    float64
dtype: object

In [9]:
df.describe()

,id,F1,F2,F3,F4,F5,F6,F7
count,1.206700e+04,12067.000000,11985.000000,12057.000000,12006.000000,12067.000000,12059.000000,12055.000000
mean,4.502005e+09,0.499378,22.440801,0.506262,6.657588,0.554239,16507.752384,6.915869
std,2.691983e+07,0.500020,18.079325,0.499982,4.074763,0.626190,1534.554755,0.303914
min,4.295358e+09,0.000000,5.000000,0.000000,0.000000,0.000000,10730.000000,4.600000
25%,4.488640e+09,0.000000,14.000000,0.000000,4.000000,0.000000,15420.500000,6.800000
50%,4.512745e+09,0.000000,17.000000,1.000000,6.000000,0.000000,16400.000000,7.000000
75%,4.522339e+09,1.000000,20.000000,1.000000,9.000000,1.000000,17464.500000,7.200000
max,4.527991e+09,1.000000,250.000000,1.000000,29.000000,2.000000,23701.000000,8.000000

In [10]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,12057,12058,12059,12060,12061,12062,12063,12064,12065,12066
id,4.519158e+09,4.523372e+09,4.521475e+09,4.524384e+09,4.436034e+09,4.475366e+09,4.493011e+09,4.496759e+09,4.443048e+09,4.509433e+09,...,4.527875e+09,4.527811e+09,4.527716e+09,4.527650e+09,4.527878e+09,4.527873e+09,4.527797e+09,4.527714e+09,4.527628e+09,4.523773e+09
F1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
F2,2.800000e+01,1.200000e+01,1.500000e+01,4.300000e+01,7.500000e+01,1.800000e+01,1.800000e+01,1.600000e+01,1.600000e+01,1.300000e+01,...,1.200000e+01,4.600000e+01,1.200000e+01,1.200000e+01,1.800000e+01,1.700000e+01,5.400000e+01,2.300000e+01,1.400000e+01,1.800000e+01
F3,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
F4,1.100000e+01,5.000000e+00,NaN,NaN,6.000000e+00,6.000000e+00,7.000000e+00,3.000000e+00,8.000000e+00,5.000000e+00,...,1.200000e+01,2.000000e+00,5.000000e+00,9.000000e+00,1.300000e+01,5.000000e+00,8.000000e+00,5.000000e+00,3.000000e+00,5.000000e+00
F5,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
F6,1.721000e+04,1.471200e+04,1.611300e+04,1.515700e+04,1.640000e+04,1.589900e+04,1.687400e+04,1.530500e+04,1.640100e+04,NaN,...,1.619800e+04,1.692300e+04,1.513100e+04,1.715500e+04,1.857300e+04,1.776500e+04,1.623800e+04,1.590300e+04,1.445900e+04,1.626600e+04
F7,6.600000e+00,6.600000e+00,6.400000e+00,7.000000e+00,7.000000e+00,7.000000e+00,6.800000e+00,6.400000e+00,7.200000e+00,6.800000e+00,...,7.000000e+00,7.200000e+00,6.800000e+00,7.000000e+00,7.200000e+00,7.200000e+00,7.200000e+00,7.000000e+00,6.600000e+00,7.000000e+00

In [11]:
df.mean()

id    4.502005e+09
F1    4.993785e-01
F2    2.244080e+01
F3    5.062619e-01
F4    6.657588e+00
F5    5.542388e-01
F6    1.650775e+04
F7    6.915869e+00
dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12067 entries, 0 to 12066
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12067 non-null  int64
 1   F1      12067 non-null  int64
 2   F2      11985 non-null  float64
 3   F3      12057 non-null  float64
 4   F4      12006 non-null  float64
 5   F5      12067 non-null  int64
 6   F6      12059 non-null  float64
 7   F7      12055 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 754.3 KB

In [19]:
df[df['F4']>11]

               id  F1     F2   F3    F4  F5       F6   F7
20     4472164226   1   14.0  NaN  15.0   1  18606.0  7.2
28     4519148589   0  105.0  1.0  13.0   1  17474.0  6.8
41     4459778854   1   36.0  0.0  12.0   0  19226.0  7.4
42     4499523222   1   18.0  0.0  14.0   1  16945.0  6.8
78     4479823004   1    NaN  0.0  18.0   1  19032.0  7.4
...           ...  ..    ...  ...   ...  ..      ...  ...
12015  4501521847   1   90.0  1.0  17.0   1  18787.0  7.0
12038  4527909697   1   40.0  0.0  13.0   2  16047.0  7.0
12044  4527887542   1   19.0  1.0  12.0   0  18274.0  6.8
12057  4527875317   0   12.0  0.0  12.0   1  16198.0  7.0
12061  4527878058   1   18.0  1.0  13.0   0  18573.0  7.2

[1453 rows x 8 columns]

In [20]:
df[df['F4']>11].shape

(1453, 8)